<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TimeTaskMapper">
	<!--修改财务密码-->
	<update id="modify" parameterType="com.fh.entity.bo.AdminUserBO">
        update  admin_user set  password=#{passWord}    where aid=#{aid}
	</update>
	<!--查询确认到账人员-->
	<select id="findStatus" parameterType="String" resultType="com.fh.entity.bo.CommonBO">
		select  sum(amount) as total from tb_amountrecord  where status='2' and  recordTime like  CONCAT('%',#{str},'%')
	</select>
	<!--查询符合条件的分红人员-->
	<select id="findPeople" parameterType="String" resultType="com.fh.entity.bo.TbAmountrecordBO">
		select * from (select uid ,sum(amount) as amount from tb_amountrecord where status='2' GROUP BY uid ) a  where a.amount>= #{str}
    </select>

    <!--插入-->
	<insert id="saveReward" parameterType="com.fh.entity.bo.RewardBO">
        insert into tb_reward (reward_id ,inviterid ,reward_amount ,reward_time ,reward_remark) values (#{reward_id} ,#{inviterid} ,#{reward_amount} ,#{reward_time} ,#{reward_remark})
	</insert>

    <!--更新-->
	<update id="updateTbuserbalance" parameterType="com.fh.entity.bo.TbuserbalanceBo">
		update  tb_userbalance set  reward=reward+ #{reward}  where userid=#{userid}
	</update>

	<!--财务人员查询-->
	<select id ="login"  resultType="com.fh.entity.bo.AdminUserBO">
		select * from admin_user where rid='1'
	</select>


</mapper>